@model Andrii_Mykyta_Lab3_ToP.Models.Triplet

@{
    ViewData["Title"] = "Task2";
}
<br/>
<h4>Кількість студентів 1-го та 3-го курсів які відвідують @(Model.ClubName is null ? "хоча б один гурток" : Model.ClubName.ToLower()) дорівнює <b>@(Model.Students.Count)</b></h4>
<br/>
<div style="display: flex">
    <table class="table table-striped" style="margin-top: 15px">
    <thead class="bg-info bg-opacity-10">
    <tr>
        <th>
            Прізвище
        </th>
        <th>
            Група
        </th>
        <th>
            Курс
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Students)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
        </tr>
    }
    </tbody>
</table>
    <div style="width: 45%; padding-left: 30px; padding-top: 20px;  padding-right: 100px">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Вибрати гурток</label>
                <select asp-for="ClubName" asp-items="Model.ClubsNames"></select>
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value=" Оновити " class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>